body {
   margin: 0;
   padding: 0;
   font-family: Arial, sans-serif;
   background-color: #ffffff;
   
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   
}

.logo {
   max-width: 120px;
   position: absolute;
   top: 10px;
   left: 10px;
}

.search-container {
   display: flex;
   align-items: center;
   background-color: #ffffff;
   border: 1px solid #303030;
   border-radius: 25px;
   padding: 5px;
   width: 50%;
   margin: 0 auto;
   position: absolute;
   top: 10px;
   left: 50%;
   transform: translateX(-50%);
}

.search-input {
   flex: 1;
   border: none;
   outline: none;
   background-color: transparent;
   color: #000000;
   padding: 10px;
   font-size: 16px;
   border-radius: 25px;
}

.search-button {
   background-color: rgb(231, 231, 231);
   border: none;
   color: #000000;
   font-size: 18px;
   cursor: pointer;
   padding: 10px;
   border-radius: 50%;
   margin-left: 5px;
}

.search-button:hover {
   background-color: #303030;
}


.categories {
   margin-left: 220px; 
   margin-top: 50px;
   display: flex;
   gap: 10px;
   overflow-x: auto;
   padding: 10px;
   
}

.category {
   background-color: #f4f4f4;
   padding: 10px 20px;
   border-radius: 20px;
   white-space: nowrap;
   cursor: pointer;
   transition: background-color 0.3s;
}

.category:hover {
   background-color: #555555;
}

.content {
   margin-left: 220px; 
   padding: 20px;
}
.sidebar {
   position: fixed;
   top: 50px;
   left: 0;
   width: 200px;
   height: 100%;
   background-color: #ffffff;
   display: flex;
   flex-direction: column;
   padding-top: 20px;
}

.sidebar-item {
   color: #000000;
   padding: 15px;
   cursor: pointer;
}

.sidebar-item:hover {
   background-color: #303030;
}
.video-grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   gap: 20px; 
   width: 100%;  
   padding: 0 10px;
}

.video {
   background-color: #fff;
   border-radius: 10px;
   overflow: hidden;
   transition: transform 0.3s;
}

.video:hover {
   transform: scale(1.05);
}

.video img {
   width: 100%;
   height: auto;
}

.video-info {
   padding: 30px;
}

.video-title {
   font-weight: bold;
   font-size: 16px;
   margin-bottom: 5px;
}

.video-author,
.video-views {
   font-size: 14px;
   color: #555;
}
#black{
   background-color: #000000;
   color: #fff;
}

